@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica; }

a {
  text-decoration: none;
  color: inherit; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 100%; }

.navigation {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  text-transform: uppercase;
  box-shadow: 0.8px 0.6px 0.3px -1px rgba(0, 0, 0, 0.035), 6px 5px 2px -1px rgba(0, 0, 0, 0.07); }
  @media screen and (max-width: 840px) {
    .navigation {
      display: block; } }
  .navigation__company {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 840px) {
      .navigation__company {
        width: 100%;
        justify-content: space-between;
        align-items: center; } }
    .navigation__company .logo {
      width: 100px; }
      .navigation__company .logo img {
        width: 100%; }
    .navigation__company .mobile-nav {
      display: none;
      font-size: 12px;
      color: #0c63ce; }
      @media screen and (max-width: 840px) {
        .navigation__company .mobile-nav {
          display: flex;
          gap: 1rem; } }
    @media screen and (max-width: 990px) {
      .navigation__company .invisible--first {
        display: none; } }
    @media screen and (max-width: 952px) {
      .navigation__company .invisible--second {
        display: none; } }
  .navigation__product {
    margin-left: auto; }
    .navigation__product li:not(:last-child) {
      color: #0c63ce; }
    .navigation__product li:last-of-type {
      font-size: 14px;
      font-weight: bolder;
      padding: 0 12px;
      line-height: 32px;
      text-align: center;
      color: #ffffff;
      background-color: #f26d21;
      cursor: pointer;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px; }
  .navigation__company, .navigation__product {
    width: auto; }
    .navigation__company ul, .navigation__product ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding-inline-start: 0; }
    .navigation__company li, .navigation__product li {
      margin: 0 10px;
      font-size: 12px;
      line-height: 20px;
      color: #777777; }
  @media screen and (max-width: 840px) {
    .navigation .links {
      display: none; } }

.slides {
  position: relative;
  width: 100%;
  height: 80vh; }
  .slides .slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: opacity 1000ms; }
    @media screen and (max-width: 1100px) {
      .slides .slide {
        flex-direction: column;
        gap: 2rem;
        background-color: #f6f7f9; } }
    .slides .slide__desc {
      position: relative;
      width: 50%;
      height: 63vh;
      padding: 4rem;
      background-color: #f6f7f9; }
      @media screen and (max-width: 1100px) {
        .slides .slide__desc {
          width: 100%; } }
      @media screen and (max-width: 870px) {
        .slides .slide__desc {
          margin-right: 0; } }
      .slides .slide__desc--heading {
        margin: 0;
        font-size: 44px;
        color: #444444; }
      .slides .slide__desc--text {
        margin-right: 12rem;
        font-size: 20px;
        color: #444444; }
      .slides .slide__desc--cta {
        width: max-content;
        padding: 1rem 2rem;
        background-color: #f26d21;
        color: #fff;
        border-radius: 10px; }
    .slides .slide__img {
      position: absolute;
      right: 0;
      top: 10%;
      width: 55%;
      height: 64vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px 0 0 20px;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.247); }
      @media screen and (max-width: 1100px) {
        .slides .slide__img {
          position: relative;
          width: 100%;
          border-radius: 0; } }
  .slides .visible {
    opacity: 1; }

.slider-control {
  position: absolute;
  bottom: 30%;
  left: 25%;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1rem; }
  @media screen and (max-width: 1100px) {
    .slider-control {
      left: 75%; } }
  .slider-control .dot {
    background-color: #232333;
    opacity: 0.4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: opacity 1000ms;
    cursor: pointer; }
  .slider-control .play-pause .control-img {
    cursor: pointer; }
  .slider-control .active {
    opacity: 1; }

.features {
  width: 100%;
  margin-top: 10rem;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  background-image: url("/assets/Ellipse14.jpg");
  background-size: 50%;
  background-position: 80% 85%;
  background-repeat: no-repeat; }
  @media screen and (max-width: 1100px) {
    .features {
      margin-top: 35rem;
      flex-direction: column;
      gap: 5rem;
      background-position: bottom left;
      padding: 2rem; } }
  .features__infograph {
    width: 35%;
    position: relative; }
    @media screen and (max-width: 1100px) {
      .features__infograph {
        width: 60%;
        margin: auto; } }
    @media screen and (max-width: 760px) {
      .features__infograph {
        width: 80%;
        margin: auto; } }
    .features__infograph .dotted {
      width: 100%;
      border: dashed 2px #babacc;
      border-radius: 50%; }
    .features__infograph .icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      padding-inline-start: 0;
      margin: 0; }
      .features__infograph .icons .icon {
        width: 60px;
        height: 60px; }
        .features__infograph .icons .icon:hover {
          scale: 1.1; }
        .features__infograph .icons .icon__text {
          margin: 0;
          text-transform: uppercase;
          width: min-content;
          text-align: center;
          font-size: 12px; }
        .features__infograph .icons .icon__meeting, .features__infograph .icons .icon__phone, .features__infograph .icons .icon__rooms, .features__infograph .icons .icon__api, .features__infograph .icons .icon__home, .features__infograph .icons .icon__onzoom, .features__infograph .icons .icon__market, .features__infograph .icons .icon__events, .features__infograph .icons .icon__chat {
          position: absolute;
          cursor: pointer;
          left: 50%;
          top: 50%; }
        .features__infograph .icons .icon__meeting {
          top: -5%;
          left: 44%; }
        .features__infograph .icons .icon__phone {
          top: 3%;
          left: 76%; }
        .features__infograph .icons .icon__api {
          top: 30%;
          left: 93%; }
        .features__infograph .icons .icon__home {
          top: 68%;
          left: 89%; }
        .features__infograph .icons .icon__onzoom {
          top: 91%;
          left: 60%; }
        .features__infograph .icons .icon__market {
          top: 91%;
          left: 25%; }
        .features__infograph .icons .icon__events {
          top: 66%;
          left: -2%; }
        .features__infograph .icons .icon__rooms {
          top: 28%;
          left: -7%; }
        .features__infograph .icons .icon__chat {
          top: 1%;
          left: 13%; }
    .features__infograph img {
      width: 100%;
      height: 100%; }
  .features__cards {
    position: relative;
    background-position: top;
    width: 50%; }
    @media screen and (max-width: 1100px) {
      .features__cards {
        width: 100%; } }
    .features__cards .feature-card {
      position: absolute;
      width: 100%;
      height: 60vh;
      opacity: 0;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.13);
      border-radius: 20px;
      overflow: hidden;
      transition: opacity 0.8s; }
      .features__cards .feature-card__top {
        height: 50%;
        background-size: 27%;
        padding: 4rem;
        background-repeat: no-repeat;
        background-position: 96% 46%;
        background-color: #fff; }
        @media screen and (max-width: 760px) {
          .features__cards .feature-card__top {
            padding: 2rem; } }
        .features__cards .feature-card__top h2 {
          width: 60%; }
      .features__cards .feature-card__desc {
        height: 50%;
        padding: 25px;
        background: #0d2a4c;
        font-size: 20px;
        color: #fff; }
    .features__cards .hovered {
      opacity: 1; }

.reviews {
  position: relative;
  margin: 10rem 0 0 0;
  padding: 8rem 3rem 0;
  width: 100%;
  overflow: hidden; }
  .reviews::after {
    position: absolute;
    display: block;
    content: "";
    top: -1%;
    left: 0;
    width: 65%;
    height: 80%;
    background-color: #f7f8fa; }
    @media screen and (max-width: 1100px) {
      .reviews::after {
        width: 100%; } }
  @media screen and (max-width: 1100px) {
    .reviews {
      margin-top: 30rem;
      padding: 3rem 2rem; } }
  .reviews__cta {
    width: max-content;
    padding: 1rem 3rem;
    border-radius: 15px;
    border: solid 1px #232333;
    font-size: 16px;
    transition: all 0.3s;
    z-index: 2; }
    .reviews__cta:hover {
      background-color: #ffebda;
      border: solid 1px transparent; }
  .reviews__cards {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    z-index: 2; }
    @media screen and (max-width: 1100px) {
      .reviews__cards {
        flex-direction: column; } }
    .reviews__cards--summary {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      @media screen and (max-width: 1100px) {
        .reviews__cards--summary {
          width: 100%; } }
      .reviews__cards--summary h2 {
        position: relative;
        font-size: 32px;
        color: #232333; }
        .reviews__cards--summary h2::after {
          width: 20%;
          position: absolute;
          left: 0;
          bottom: -15px;
          display: block;
          content: "";
          border: solid 3px red; }
      .reviews__cards--summary p {
        font-size: 20px; }
    .reviews__cards--cards {
      width: 70%;
      display: flex;
      justify-content: space-between;
      gap: 2rem; }
      @media screen and (max-width: 1100px) {
        .reviews__cards--cards {
          width: 100%; } }
      @media screen and (max-width: 620px) {
        .reviews__cards--cards {
          flex-wrap: wrap; } }
    .reviews__cards--gartner, .reviews__cards--tr, .reviews__cards--g2 {
      flex: 0 1 300px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      border-radius: 10px;
      width: max-content;
      padding: 4rem 1rem;
      background-color: #fff;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.247); }
      .reviews__cards--gartner img, .reviews__cards--tr img, .reviews__cards--g2 img {
        width: 80%; }
      .reviews__cards--gartner .stars, .reviews__cards--tr .stars, .reviews__cards--g2 .stars {
        width: 70%;
        margin: 20px auto; }
  .reviews__companies {
    position: relative;
    margin-top: 10rem;
    z-index: 2; }
    .reviews__companies .reviews-container {
      position: relative;
      min-height: 30rem;
      width: 70%;
      margin: 0 15%; }
      @media screen and (max-width: 1100px) {
        .reviews__companies .reviews-container {
          width: 90%;
          margin: 0 5%; } }
      .reviews__companies .reviews-container .review {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
        box-shadow: -20px 0 40px rgba(0, 0, 0, 0.062);
        display: flex;
        border-radius: 20px;
        opacity: 0; }
        .reviews__companies .reviews-container .review .caption {
          width: 50%;
          padding: 3rem;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          background-color: #fff;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px; }
          @media screen and (max-width: 620px) {
            .reviews__companies .reviews-container .review .caption {
              width: 100%; } }
          .reviews__companies .reviews-container .review .caption__text {
            font-size: 24px; }
            @media screen and (max-width: 1100px) {
              .reviews__companies .reviews-container .review .caption__text {
                font-size: 18px; } }
          .reviews__companies .reviews-container .review .caption__owner {
            font-size: 12px; }
        .reviews__companies .reviews-container .review .picture {
          width: 50%;
          position: relative;
          overflow: hidden;
          background-position: top left;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media screen and (max-width: 620px) {
            .reviews__companies .reviews-container .review .picture {
              display: none; } }
          .reviews__companies .reviews-container .review .picture img {
            position: relative;
            z-index: 3; }
          .reviews__companies .reviews-container .review .picture::after {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #23233394;
            z-index: 2; }
      .reviews__companies .reviews-container .slide-in {
        animation: slide-in 0.7s forwards; }
    .reviews__companies .review-thumbs {
      position: relative;
      width: 60%;
      margin: 4rem 20%;
      width: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media screen and (max-width: 1100px) {
        .reviews__companies .review-thumbs {
          width: 80%;
          margin: 10%; } }
      .reviews__companies .review-thumbs .thumb {
        width: 80px;
        height: 50px;
        opacity: 0.4;
        transition: opacity 0.5s;
        cursor: pointer; }
        .reviews__companies .review-thumbs .thumb img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
        .reviews__companies .review-thumbs .thumb:hover {
          opacity: 1; }
      .reviews__companies .review-thumbs .active-review {
        opacity: 1; }

.customers {
  background-image: url("/assets/Ellipse14.jpg");
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-size: 65%; }
  .customers__brands {
    width: 90%;
    margin-right: auto;
    margin-top: 10rem;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr; }
    @media screen and (max-width: 1100px) {
      .customers__brands {
        width: 100%;
        padding: 5rem 0;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 0; } }
    .customers__brands .brand-category {
      height: 100%;
      padding: 2rem;
      background-color: #323244;
      color: #fff;
      text-align: right;
      line-height: 3rem;
      font-size: 20px;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;
      justify-content: end; }
      .customers__brands .brand-category__indicators {
        display: flex;
        gap: 1rem;
        margin-left: auto; }
        .customers__brands .brand-category__indicators .indicator {
          width: 10px;
          height: 10px;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          cursor: pointer; }
        .customers__brands .brand-category__indicators .active-indicator {
          background-color: #fff; }
    .customers__brands .brands-container {
      position: relative;
      height: 18rem;
      overflow: hidden; }
      .customers__brands .brands-container .brands {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        transform: translateX(100%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem; }
        .customers__brands .brands-container .brands .brand {
          height: inherit;
          border: solid 1px #232333;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff; }
    .customers__brands .active-brands {
      animation: slide-in 0.7s forwards; }
  .customers__cta {
    width: 100%;
    text-align: center;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem; }
    .customers__cta--demo {
      display: block;
      width: 12rem;
      text-align: center;
      padding: 1rem 0;
      border-radius: 15px;
      border: solid 1px #232333;
      font-size: 16px;
      transition: all 0.3s;
      z-index: 2; }
      .customers__cta--demo:hover {
        background-color: #ffebda;
        border: solid 1px transparent; }
    .customers__cta--buy {
      display: block;
      width: 12rem;
      padding: 1rem 3rem;
      border-radius: 15px;
      background-color: #f26d21;
      color: #fff; }

footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #39394d;
  font-size: 11px;
  color: #fff; }
  footer .container {
    width: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 3rem; }
    @media screen and (max-width: 1100px) {
      footer .container {
        grid-template-columns: 1fr; } }
    footer .container .links {
      display: flex;
      justify-content: space-between; }
      footer .container .links ul {
        list-style: none;
        padding-inline-start: 0;
        max-width: 100px; }
      footer .container .links a:hover {
        text-decoration: underline; }
    footer .container .accessibility {
      font-size: 14px; }
      footer .container .accessibility .language {
        position: relative; }
        footer .container .accessibility .language__option {
          position: relative;
          width: max-content;
          padding: 0.5rem 1rem;
          background: transparent;
          color: #fff;
          appearance: none;
          border: solid 1px #babacc;
          text-align: center;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          cursor: pointer; }
          footer .container .accessibility .language__option .caret {
            width: 0;
            height: 0;
            border-top: solid 4px #fff;
            border-left: solid 4px transparent;
            border-right: solid 4px transparent; }
        footer .container .accessibility .language .dropdown-menu {
          position: absolute;
          bottom: -10vh;
          left: 0;
          width: 50%;
          list-style: none;
          background: #fff;
          color: #232333;
          text-align: left;
          padding-inline-start: 0;
          font-size: 12px;
          box-shadow: -2px 0 4px rgba(0, 0, 0, 0.062); }
          footer .container .accessibility .language .dropdown-menu li {
            margin: 0.5rem 0;
            padding: 0.5rem;
            width: 100%; }
            footer .container .accessibility .language .dropdown-menu li:hover {
              background-color: #777777;
              color: #fff; }
        footer .container .accessibility .language .invisible {
          display: none; }

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
