@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
}

.navigation {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  text-transform: uppercase;
  box-shadow: 0.8px 0.6px 0.3px -1px rgba(0, 0, 0, 0.035),
    6px 5px 2px -1px rgba(0, 0, 0, 0.07);

  @media screen and (max-width: 840px) {
    display: block;
  }

  &__company {
    display: flex;
    align-items: center;
    @media screen and (max-width: 840px) {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      width: 100px;

      img {
        width: 100%;
      }
    }

    .mobile-nav {
      display: none;
      font-size: 12px;
      color: #0c63ce;

      @media screen and (max-width: 840px) {
        display: flex;
        gap: 1rem;
      }
    }

    .invisible {
      &--first {
        @media screen and (max-width: 990px) {
          display: none;
        }
      }
      &--second {
        @media screen and (max-width: 952px) {
          display: none;
        }
      }
    }
  }

  &__product {
    margin-left: auto;
    li {
      &:not(:last-child) {
        color: #0c63ce;
      }
      &:last-of-type {
        font-size: 14px;
        font-weight: bolder;
        padding: 0 12px;
        line-height: 32px;
        text-align: center;
        color: #ffffff;
        background-color: #f26d21;
        cursor: pointer;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
      }
    }
  }

  &__company,
  &__product {
    width: auto;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      padding-inline-start: 0;
    }
    li {
      margin: 0 10px;
      font-size: 12px;
      line-height: 20px;
      color: #777777;
    }
  }

  .links {
    @media screen and (max-width: 840px) {
      display: none;
    }
  }
}

.slides {
  position: relative;
  width: 100%;
  height: 80vh;

  .slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: opacity 1000ms;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      gap: 2rem;
      background-color: #f6f7f9;
    }

    &__desc {
      position: relative;
      width: 50%;
      height: 63vh;
      padding: 4rem;
      background-color: #f6f7f9;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 870px) {
        margin-right: 0;
      }

      &--heading {
        margin: 0;
        font-size: 44px;
        color: #444444;
      }

      &--text {
        margin-right: 12rem;
        font-size: 20px;
        color: #444444;
      }
      &--cta {
        width: max-content;
        padding: 1rem 2rem;
        background-color: #f26d21;
        color: #fff;
        border-radius: 10px;
      }
    }

    &__img {
      position: absolute;
      right: 0;
      top: 10%;
      width: 55%;
      height: 64vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 20px 0 0 20px;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.247);

      @media screen and (max-width: 1100px) {
        position: relative;
        width: 100%;
        border-radius: 0;
      }
    }
  }

  .visible {
    opacity: 1;
  }
}

.slider-control {
  position: absolute;
  bottom: 30%;
  left: 25%;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media screen and(max-width:1100px) {
    left: 75%;
  }

  .dot {
    background-color: #232333;
    opacity: 0.4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: opacity 1000ms;
    cursor: pointer;
  }

  .play-pause {
    .control-img {
      cursor: pointer;
    }
  }
  .active {
    opacity: 1;
  }
}

.features {
  width: 100%;
  margin-top: 10rem;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  background-image: url("/assets/Ellipse14.jpg");
  background-size: 50%;
  background-position: 80% 85%;
  background-repeat: no-repeat;

  @media screen and (max-width: 1100px) {
    margin-top: 35rem;
    flex-direction: column;
    gap: 5rem;
    background-position: bottom left;
    padding: 2rem;
  }
  &__infograph {
    width: 35%;
    position: relative;

    @media screen and (max-width: 1100px) {
      width: 60%;
      margin: auto;
    }

    @media screen and (max-width: 760px) {
      width: 80%;
      margin: auto;
    }

    .dotted {
      width: 100%;
      border: dashed 2px #babacc;
      border-radius: 50%;
    }

    .icons {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      padding-inline-start: 0;
      margin: 0;

      .icon {
        width: 60px;
        height: 60px;
        &:hover {
          scale: 1.1;
        }
        &__text {
          margin: 0;
          text-transform: uppercase;
          width: min-content;
          text-align: center;
          font-size: 12px;
        }

        &__meeting,
        &__phone,
        &__rooms,
        &__api,
        &__home,
        &__onzoom,
        &__market,
        &__events,
        &__chat {
          position: absolute;
          cursor: pointer;
          left: 50%;
          top: 50%;
        }

        &__meeting {
          top: -5%;
          left: 44%;
        }
        &__phone {
          top: 3%;
          left: 76%;
        }

        &__api {
          top: 30%;
          left: 93%;
        }

        &__home {
          top: 68%;
          left: 89%;
        }

        &__onzoom {
          top: 91%;
          left: 60%;
        }

        &__market {
          top: 91%;
          left: 25%;
        }

        &__events {
          top: 66%;
          left: -2%;
        }

        &__rooms {
          top: 28%;
          left: -7%;
        }

        &__chat {
          top: 1%;
          left: 13%;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__cards {
    position: relative;
    background-position: top;
    width: 50%;

    @media screen and (max-width: 1100px) {
      width: 100%;
    }

    .feature-card {
      position: absolute;
      width: 100%;
      height: 60vh;
      opacity: 0;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.13);
      border-radius: 20px;
      overflow: hidden;
      transition: opacity 0.8s;

      &__top {
        height: 50%;
        background-size: 27%;
        padding: 4rem;
        background-repeat: no-repeat;
        background-position: 96% 46%;
        background-color: #fff;
        @media screen and (max-width: 760px) {
          padding: 2rem;
        }

        h2 {
          width: 60%;
        }
      }

      &__desc {
        height: 50%;
        padding: 25px;
        background: #0d2a4c;
        font-size: 20px;
        color: #fff;
      }
    }

    .hovered {
      opacity: 1;
    }
  }
}

.reviews {
  position: relative;
  margin: 10rem 0 0 0;
  padding: 8rem 3rem 0;
  width: 100%;
  overflow: hidden;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: -1%;
    left: 0;
    width: 65%;
    height: 80%;
    background-color: #f7f8fa;

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 1100px) {
    margin-top: 30rem;
    padding: 3rem 2rem;
  }
  &__cta {
    width: max-content;
    padding: 1rem 3rem;
    border-radius: 15px;
    border: solid 1px #232333;
    font-size: 16px;
    transition: all 0.3s;
    z-index: 2;

    &:hover {
      background-color: #ffebda;
      border: solid 1px transparent;
    }
  }

  &__cards {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    z-index: 2;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }

    &--summary {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      h2 {
        position: relative;
        font-size: 32px;
        color: #232333;
        &::after {
          width: 20%;
          position: absolute;
          left: 0;
          bottom: -15px;
          display: block;
          content: "";
          border: solid 3px red;
        }
      }
      p {
        font-size: 20px;
      }
    }

    &--cards {
      width: 70%;
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      @media screen and (max-width: 1100px) {
        width: 100%;
      }

      @media screen and (max-width: 620px) {
        flex-wrap: wrap;
      }
    }

    &--gartner,
    &--tr,
    &--g2 {
      flex: 0 1 300px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: center;
      border-radius: 10px;
      width: max-content;
      padding: 4rem 1rem;
      background-color: #fff;
      box-shadow: -20px 0 40px rgba(0, 0, 0, 0.247);

      img {
        width: 80%;
      }

      .stars {
        width: 70%;
        margin: 20px auto;
      }
    }
  }

  &__companies {
    position: relative;

    margin-top: 10rem;
    z-index: 2;

    .reviews-container {
      position: relative;
      min-height: 30rem;
      width: 70%;
      margin: 0 15%;
      @media screen and(max-width:1100px) {
        width: 90%;
        margin: 0 5%;
      }
      .review {
        position: absolute;
        height: 100%;
        width: 100%;

        transform: translateX(-100%);
        box-shadow: -20px 0 40px rgba(0, 0, 0, 0.062);
        display: flex;
        border-radius: 20px;
        opacity: 0;

        .caption {
          width: 50%;
          padding: 3rem;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          background-color: #fff;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          @media screen and (max-width: 620px) {
            width: 100%;
          }

          &__text {
            font-size: 24px;
            @media screen and(max-width:1100px) {
              font-size: 18px;
            }
          }

          &__owner {
            font-size: 12px;
          }
        }

        .picture {
          width: 50%;
          position: relative;
          overflow: hidden;
          background-position: top left;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media screen and (max-width: 620px) {
            display: none;
          }

          img {
            position: relative;
            z-index: 3;
          }
          &::after {
            position: absolute;
            content: "";
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #23233394;
            z-index: 2;
          }
        }
      }

      .slide-in {
        animation: slide-in 0.7s forwards;
      }
    }

    .review-thumbs {
      position: relative;
      width: 60%;
      margin: 4rem 20%;
      width: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and(max-width:1100px) {
        width: 80%;
        margin: 10%;
      }

      .thumb {
        width: 80px;
        height: 50px;
        opacity: 0.4;
        transition: opacity 0.5s;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &:hover {
          opacity: 1;
        }
      }
      .active-review {
        opacity: 1;
      }
    }
  }
}

.customers {
  background-image: url("/assets/Ellipse14.jpg");
  background-repeat: no-repeat;
  background-position: 100% 20%;
  background-size: 65%;
  &__brands {
    width: 90%;
    margin-right: auto;
    margin-top: 10rem;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr;

    @media screen and (max-width: 1100px) {
      width: 100%;
      padding: 5rem 0;
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-top: 0;
    }

    .brand-category {
      height: 100%;
      padding: 2rem;
      background-color: #323244;
      color: #fff;
      text-align: right;
      line-height: 3rem;
      font-size: 20px;
      display: flex;
      flex-flow: column wrap;
      align-items: flex-end;
      justify-content: end;

      &__indicators {
        display: flex;
        gap: 1rem;
        margin-left: auto;

        .indicator {
          width: 10px;
          height: 10px;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 50%;
          cursor: pointer;
        }

        .active-indicator {
          background-color: #fff;
        }
      }
    }

    .brands-container {
      position: relative;
      height: 18rem;
      overflow: hidden;
      .brands {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        transform: translateX(100%);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        .brand {
          height: inherit;
          border: solid 1px #232333;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
        }
      }
    }
    .active-brands {
      animation: slide-in 0.7s forwards;
    }
  }
  &__cta {
    width: 100%;
    text-align: center;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    &--demo {
      display: block;
      width: 12rem;
      text-align: center;
      padding: 1rem 0;
      border-radius: 15px;
      border: solid 1px #232333;
      font-size: 16px;
      transition: all 0.3s;
      z-index: 2;

      &:hover {
        background-color: #ffebda;
        border: solid 1px transparent;
      }
    }
    &--buy {
      display: block;
      width: 12rem;
      padding: 1rem 3rem;
      border-radius: 15px;
      background-color: #f26d21;
      color: #fff;
    }
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #39394d;
  font-size: 11px;
  color: #fff;

  .container {
    width: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 3rem;
    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr;
    }

    .links {
      display: flex;
      justify-content: space-between;

      ul {
        list-style: none;
        padding-inline-start: 0;
        max-width: 100px;
        li {
        }
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .accessibility {
      font-size: 14px;
      .language {
        position: relative;
        &__option {
          position: relative;
          width: max-content;
          padding: 0.5rem 1rem;
          background: transparent;
          color: #fff;
          appearance: none;
          border: solid 1px #babacc;
          text-align: center;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          cursor: pointer;

          .caret {
            width: 0;
            height: 0;
            border-top: solid 4px #fff;
            border-left: solid 4px transparent;
            border-right: solid 4px transparent;
          }
        }
        .dropdown-menu {
          position: absolute;
          bottom: -10vh;
          left: 0;
          width: 50%;
          list-style: none;
          background: #fff;
          color: #232333;
          text-align: left;
          padding-inline-start: 0;
          font-size: 12px;
          box-shadow: -2px 0 4px rgba(0, 0, 0, 0.062);

          li {
            margin: 0.5rem 0;
            padding: 0.5rem;
            width: 100%;
            &:hover {
              background-color: #777777;
              color: #fff;
            }
          }
        }
        .invisible {
          display: none;
        }
      }
    }
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
